{% extends 'base.html' %}

{% block title %}
    Выставка проектов - Весенняя проектная школа
{% endblock title %}

{% block content %}
<div class="container">

   {% if user_type == 'anonymous' %}
    <div class="row mt-5">
        <div class="col">
            <p>Добро пожаловать в систему оценивания проектов, представленных на выставке Весенней проетной школы! Давайте поддержим ребят, которые в течение месяца делали IT-продукты как для заказчика с индустрии, так и по собственным идеям!</p>
        </div>
    </div>    
    <div class="row mt-3">
        <div class="col">
            <p>Вы можете зарегистрироваться в качестве гостя выставки и получить целых 3 голоса, которые сможете отдать понравившимся проектам и командам! Для этого подойдите к организаторам на стойку регистрации. Возможно, именно ваш голос поможет понравившейся команде выделиться на фоне остальных и получить призы от наших партнёров и спонсоров!</p>
        </div>
    </div>        
    <div class="row mt-3">
        <div class="col">
            <p>Если же вы эксперт в области информационных технологий и IT-продуктов, то можете принять участие в оценивании проектов! Для этого также подойдите, пожалуйста, к организаторам на стойку регистрации.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p>Пожелаем ребятам удачи!</p>
        </div>
    </div>        
   {% endif %}

   {% if user_type == 'guest' %}
        <div class="row mt-5">
            <div class="col">
                <p>Вы зарегистрированы в качестве ГОСТЯ выставки Весенней проектной школы.</p>
            </div>
        </div>    
        <div class="row mt-3">
            <div class="col">
                <p>Вы можете проголосовать за понравившийся проект и команду, за разработанный MVP (минимальный жизнеспособный продукт), отдав один голос за одину команду. Сканируйте QR-код на стенде команды и голосуйте!</p>
            </div>
        </div>        
        <div class="row mt-3">
            <div class="col">
                <p>Голосов осталось: {{ count_left }}</p>
            </div>
        </div>
        {% if projects_voted %}
            <div class="row mt-3">
                <div class="col">
                    <p>Команды и проекты, которые вы отметили:</p>
                    <ul>
                        {% for project in projects_voted %}
                            <li>
                                Команда {{ project.team }} с проектом {{ project.name }}
                            </li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>        
        {% endif %}
   {% endif %}
   {% if user_type == 'expert' %}
        <div class="row mt-5">
            <div class="col">
                <p>Вы зарегистрированы в качестве ЭКСПЕРТА выставки Весенней проектной школы.</p>
            </div>
        </div>    
        <div class="row mt-3">
            <div class="col">
                <p>Вам необходимо оценить все команды, которые должны были за месяц разработать MVP (минимальный жизнеспособный продукт). Проекты, которые команды разрабатывали делятся на два типа: от заказчика и по собстенной идее. Сканируйте QR-код на стенде команды и приступайте к оцениванию!</p>
            </div>
        </div>      
        <div class="row mt-3">
            <div class="col">
                <p>Критерии оценки:</p>
                <ol>
                   <li>Продуманность идеи / соответствие требованиям заказчика (в зависимости от категории). Собственные проекты должны раскрыть замысел проекта, в чём цель, почему выбрали именно эту проблему и т.д., а проекты для заказчика должны привести требования заказчика, проработку этих требований, как их учитывали при проектировании.</li>
                   <li>Дизайн и пользовательский опыт - как проект выглядит и какие впечатления от использования. Удобно, приятно, непонятно, тормозит и т.д.</li>
                    <li>Функционал и реализация - сколько всего предстояло разработать, как это реализовывали, стек, механики, фичи и вот это всё.</li>
                    <li>MVP и его демонстрация - что в итоге попало в минимальный жизнеспособный продукт. Именно продукт, решающий проблему из пункта 1; именно жизнеспособный, который можно пощупать; именно минимальный, который вообще возможно сделать было за месяц с учётом всех вводных и ресурсов.</li>
                    <li>Команда, полученный опыт, профессиональный рост - какими заходили на старте, какие сейчас; какие были сложности и бонусы работы в команде; как управляли проектом; какие уроки получили.</li>
                </ol>                    
            </div>
        </div>  
        <div class="row mt-3">
            <div class="col">
                <p>Осталось оценить команд: {{ count_left }}.</p>
            </div>
        </div>
        {% if projects_marked %}
            <div class="row mt-3">
                <div class="col">
                    <p>Команды и проекты, которые вы оценили:</p>
                    <ul>
                        {% for project in projects_marked %}
                            <li>
                                Команда {{ project.team }} с проектом {{ project.name }}
                            </li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>        
        {% endif %}
   {% endif %}
   {% if user_type == 'admin' %}
        <div class="row mt-5">
            <div class="col">
                <p>Вы зарегистрированы в качестве АДМИНИСТРАТОРА выставки Весенней проектной школы.</p>
            </div>
        </div>    
        <div class="row mt-3">
            <div class="col">
                <p>Вам необходимо регистрировать гостей и экспертов с помощью соответствующего интерфейса системы. Для этого перейдите в пункт меню Регистрация участников.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p>Для регистрации ГОСТЯ достаточно нажать кнопку и показать гостю QR-код, чтобы он его отсканировал. Как только он успешно зайдёт в систему, можно нажимать кнопку НАЗАД и продолжать регистрацию.</p>
            </div>
        </div>  
        <div class="row mt-3">
            <div class="col">
                <p>Для регистрации ЭКСПЕРТА необходимо ввести его имя и фамилию в поле ввода и нажать кнопку, затем показать эксперту QR-код, чтобы он его отсканировал. Как только он успешно зайдёт в систему, можно нажимать кнопку НАЗАД и продолжать регистрацию.</p>
            </div>
        </div>  
        <div class="row mt-3">
            <div class="col">
                <p>Пункт меню ПРОЕКТЫ позволяет посмотреть статистику по оценке проектов.</p>
            </div>
        </div>  
  
   {% endif %}
   {% if user_type == 'superadmin' %}
    <div class="row mt-3">
        <div class="col">
            <p>Привет, СУПЕРАДМИН!</p>
        </div>
    </div>  
    {% endif %}
</div>

{% endblock content %}
