{% extends 'base.html' %}
{% block title %}
    Результат регистрации - Весенняя проектная школа
{% endblock title %}
{% block content %}
    <div class="contaier text-center">
        <div class="row mt-5">
            <div class="col">
                {% if not error %}
                    <h2>Вы зарегистрированы в качестве {{ who }}</h2>        
                {% else %}
                    <h2>{{ error }}</h2>
                {% endif %}

            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <a href="{{ url_for('index') }}"><button class="btn btn-primary">На главную страницу</button></a>
            </div>
        </div>
    </div>

{% endblock content %}